<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/auth.css">
<link rel="stylesheet" href="/form.css">
<link rel="stylesheet" href="/main.css">
</head>
<body>
<%- include('./partials/nav.ejs') %>

<h2>Page Not Found!</h2>

<%- include('./partials/end.ejs') %>  